<?xml version="1.0"?>
<launch>
    <param name="traffic_light_config" textfile="$(find tl_detector)/sim_traffic_light_config.yaml" />
    <node pkg="tl_detector" type="tl_detector.py" name="tl_detector" output="screen" cwd="node">
        <param name="blind" value="False" />
        <param name="collect_samples" value="False" />
        <param name="min_landscape_idx" value="300" />
        <param name="max_landscape_idx" value="1000" />
        <param name="min_light_idx" value="0" />
        <param name="max_light_idx" value="70" />
        <param name="sample_period" value="5.0" />
        <param name="use_model" value="False" />
        <param name="model_name" value="" />
<!--         <param name="model_name" value="smoldel2_grey9929.h5" /> -->
        <param name="grey_model" value="True" />
        <param name="perturbx" value="20" />
        <param name="perturby" value="0" />
    </node>
</launch>
